/*slim slider loading skin spin css*/
.slimslrl-009-spin img {
    animation-name: slimslrl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slimslrl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*slim slider bullet skin 032 css*/
.slimslb032 {position:absolute;}
.slimslb032 .i {position:absolute;cursor:pointer;}
.slimslb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.slimslb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.slimslb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.slimslb032 .i.idn {opacity:.3;}

/*slim slider arrow skin 051 css*/
.slimsla051 {display:block;position:absolute;cursor:pointer;}
.slimsla051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.slimsla051:hover {opacity:.8;}
.slimsla051.slimsla051dn {opacity:.5;}
.slimsla051.slimsla051ds {opacity:.3;pointer-events:none;}
